<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .navbar {
            background-color: #343a40; /* Darker background color */
        }
        .navbar-dark .navbar-toggler-icon {
            background-color: #fff; /* Color of the hamburger icon */
        }
        .navbar-dark .navbar-toggler {
            border-color: #fff; /* Border color of the hamburger icon */
        }
        .navbar-dark .navbar-toggler:hover {
            background-color: #fff; /* Background color of the hamburger icon on hover */
        }
        .navbar-dark .navbar-nav .nav-link {
            color: #fff; /* Text color of navigation links */
        }
        .navbar-dark .navbar-nav .nav-link:hover {
            color: #00bcd4; /* Text color of navigation links on hover */
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          
            <a class="navbar-brand" href="/">Asim Adhiakri</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/aboutMe">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="/projects">Projects</a></li>
                    <li class="nav-item"><a class="nav-link" href="/services">Services</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contacts">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        <section id="aboutMe">
            <h1>About Me</h1>
            <p>
                Welcome to my portfolio website. I am passionate about web development and design. With a background in computer science and a love for creativity, I enjoy creating beautiful and functional websites.
            </p>
            <p>
                In my free time, I like to explore new technologies, work on open-source projects, and share my knowledge through tutorials and articles. </p>
